* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    height: 8vh;
    padding: 0 20px;
    background: red;
    display: flex;
    align-items: center;

}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 5px 15px;
    font-size: 0.9vw;
}

/* Header */

.contenuto-col-sx, .contenuto-col-dx {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header img {
    width: 7vw;
    height: 100%;
}

header ul {
    font-size: 0.9vw;
    display: flex;
    list-style-type: none;
    padding: 0 20px;
}

header li {
    padding: 0 20px;
    line-height: 0px;
}
