* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

.container {
    width: 65%;
    margin: 0 auto;
}

.container-interno {
    width: 85%;
    margin: 0 auto;
    height: 300px;
    background-color: red;
}

header {
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;

}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}

.btn {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
}

.btn-blue {
    color: #fff;
    background-color: #0061ff;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-30 {
    margin-top: 30px;
}

/* Header */

.contenuto-col-sx, .contenuto-col-dx {
    height: 70px;
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header img {
    width: 110px;
    height: auto;
}

header ul {
    font-size: 14px;
    display: flex;
    list-style-type: none;
    padding: 0 20px;
}

header li {
    padding: 0 20px;
    line-height: 0px;
}

/* Main */

.jumbotron {
    background-color: #b4d0e7;
}

.jumbotron .container {
    padding: 60px 0 20px;
}

.jumbotron i {
    font-size: 50px;
}

.jumbotron img {
    width: 100%;
    height: auto;
    position: absolute;
}

.jumbo-image {
    position: relative;
}

